@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="_references" />
</head>
<body>

    <!-- start per-loader -->
    <div class="loader-container">
        <div class="loader-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

   <partial name="_header" />
    <section class="breadcrumb-area bread-bg">
        <div class="overlay"></div><!-- end overlay -->
        <div class="container">
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between position-relative">
                <h2 class="sec-title text-white my-2">About Us</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div><!-- end breadcrumb-content -->
        </div><!-- end container -->
    </section><!-- end hero-area -->
    
    
    <section class="timeline-area section-padding bg-gray">
        <div class="container">
            <h2 class="sec-title text-center">How We Started Bitcon</h2>
            <ul class="timeline-wrap mt-5">
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">February 2000</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Company was founded</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">March 2010</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Company is growing</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">April 2011</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Development Started</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">May 2012</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Pre-Ico Opens</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">June 2015</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Private Token Round</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">August 2017</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Pre-Ico Closed</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">September 2018</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Development Platform Launch</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">October 2019</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">App Integration Process</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- end container -->
    </section><!-- end timeline-area -->

    
    


    <hr class="border-top-gray my-0">


    <section class="client-logo-area section-padding position-relative">
        <span class="ring-shape ring-shape-1 position-absolute"></span>
        <span class="ring-shape ring-shape-2 position-absolute"></span>
        <span class="ring-shape ring-shape-3 position-absolute"></span>
        <span class="ring-shape ring-shape-4 position-absolute"></span>
        <span class="ring-shape ring-shape-5 position-absolute"></span>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <h2 class="sec-title mb-4 mb-lg-0">Trusted by Bitcoin Business</h2>
                </div><!-- end col-lg-6 -->
                <div class="col-lg-7">
                    <div class="client-logo-carousel-2 owl-carousel">
                        <div class="client-logo-item d-inline-block">
                            <img src="~/assets/images/client1.png" alt="brand image">
                        </div><!-- end client-logo-item -->
                        <div class="client-logo-item d-inline-block">
                            <img src="~/assets/images/client2.png" alt="brand image">
                        </div><!-- end client-logo-item -->
                        <div class="client-logo-item d-inline-block">
                            <img src="~/assets/images/client3.png" alt="brand image">
                        </div><!-- end client-logo-item -->
                        <div class="client-logo-item d-inline-block">
                            <img src="~/assets/images/client4.png" alt="brand image">
                        </div><!-- end client-logo-item -->
                        <div class="client-logo-item d-inline-block">
                            <img src="~/assets/images/client5.png" alt="brand image">
                        </div><!-- end client-logo-item -->
                    </div><!-- end client-logo-carousel -->
                </div><!-- end col-lg-6 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end client-logo-area -->

    <section class="testimonial-area section-padding text-center position-relative bg-gray">
        <img src="~/assets/images/small-team1.jpg" alt="testtmonial-image" class="random-img">
        <img src="~/assets/images/small-team2.jpg" alt="testtmonial-image" class="random-img">
        <img src="~/assets/images/small-team3.jpg" alt="testtmonial-image" class="random-img">
        <img src="~/assets/images/small-team4.jpg" alt="testtmonial-image" class="random-img">
        <img src="~/assets/images/small-team5.jpg" alt="testtmonial-image" class="random-img">
        <img src="~/assets/images/small-team6.jpg" alt="testtmonial-image" class="random-img">
        <img src="~/assets/images/small-team7.jpg" alt="testtmonial-image" class="random-img">
        <div class="container">
            <h2 class="sec-title">Feedback Our Investors</h2>
            <div class="col-lg-8 mx-auto mt-5">
                <div class="client-testimonial owl-carousel owl-theme">
                    <div class="testimonial-card">
                        <div class="testimonial__img">
                            <span class="testimonial__img-circle"></span>
                            <img src="~/assets/images/small-team1.jpg" alt="testimonial image">
                        </div>
                        <p class="testimonial__desc">
                            Enjoy the diversity of ThePin. Check this numerous demos, made
                            for different purposes. Easy to import & highly customizable.
                            All of the presented elements, layouts & styles can be theme.
                        </p>
                        <h4 class="testimonial__title">Richard_evil</h4>
                        <span class="testimonial__meta">United States</span>
                    </div><!-- end testimonial-card -->
                    <div class="testimonial-card">
                        <div class="testimonial__img">
                            <span class="testimonial__img-circle"></span>
                            <img src="~/assets/images/small-team2.jpg" alt="testimonial image">
                        </div>
                        <p class="testimonial__desc">
                            Enjoy the diversity of ThePin. Check this numerous demos, made
                            for different purposes. Easy to import & highly customizable.
                            All of the presented elements, layouts & styles can be theme.
                        </p>
                        <h4 class="testimonial__title">Denwen_evil</h4>
                        <span class="testimonial__meta">Australia</span>
                    </div><!-- end testimonial-card -->
                    <div class="testimonial-card">
                        <div class="testimonial__img">
                            <span class="testimonial__img-circle"></span>
                            <img src="~/assets/small-team3.jpg" alt="testimonial image">
                        </div>
                        <p class="testimonial__desc">
                            Enjoy the diversity of ThePin. Check this numerous demos, made
                            for different purposes. Easy to import & highly customizable.
                            All of the presented elements, layouts & styles can be theme.
                        </p>
                        <h4 class="testimonial__title">Amanda_evil</h4>
                        <span class="testimonial__meta">United Kingdom</span>
                    </div><!-- end testimonial-card -->
                </div><!-- end client-testimonial -->
            </div><!-- end col-lg-8 -->
        </div><!-- end container -->
    </section><!-- end testimonial-area -->
    
    <partial name="_footer" />
    <div id="scroll-to-top">
        <i class="far fa-angle-up" title="Go top"></i>
    </div>
   
</body>
</html>
