@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="_references" />
</head>
<body>

    <!-- start per-loader -->
    <div class="loader-container">
        <div class="loader-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

   <partial name="_header" />
    <section class="breadcrumb-area bread-bg">
        <div class="overlay"></div><!-- end overlay -->
        <div class="container">
            <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between position-relative">
                <h2 class="sec-title text-white my-2">About Us</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div><!-- end breadcrumb-content -->
        </div><!-- end container -->
    </section><!-- end hero-area -->
    
    
    <section class="timeline-area section-padding bg-gray">
        <div class="container">
            <h2 class="sec-title text-center">How We Started Bitcon</h2>
            <ul class="timeline-wrap mt-5">
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">February 2000</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Company was founded</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">March 2010</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Company is growing</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">April 2011</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Development Started</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">May 2012</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Pre-Ico Opens</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">June 2015</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Private Token Round</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">August 2017</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Pre-Ico Closed</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">September 2018</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">Development Platform Launch</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
                <li class="timeline">
                    <div class="timeline-prev">
                        <span class="badge badge-md badge-primary">October 2019</span>
                    </div>
                    <div class="timeline-next card mb-0">
                        <div class="card-body">
                            <h3 class="card-title">App Integration Process</h3>
                            <p class="card-desc">Tincidunt elit magnis nulla facilisis sagittis maecenas. sapien nunced amet ultrices, dolores sit ipsum velit purus</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- end container -->
    </section><!-- end timeline-area -->

    
    


    <partial name="_footer" />
    <div id="scroll-to-top">
        <i class="far fa-angle-up" title="Go top"></i>
    </div>
   
</body>
</html>
