@model List<Data>
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    
    <partial name="_references" />
</head>
<body>

    <!-- start per-loader -->
    @*<div class="loader-container">
        <div class="loader-ripple">
            <div></div>
            <div></div>
        </div>
    </div>*@
    <partial name="_header" />

    <section class="hero-area hero-area-3 bg-dark">
        <span class="ring-shape ring-shape-white ring-shape-1 position-absolute"></span>
        <span class="ring-shape ring-shape-white ring-shape-2 position-absolute"></span>
        <span class="ring-shape ring-shape-white ring-shape-3 position-absolute"></span>
        <span class="ring-shape ring-shape-white ring-shape-4 position-absolute"></span>
        <span class="ring-shape ring-shape-white ring-shape-5 position-absolute"></span>
        <span class="ring-shape ring-shape-white ring-shape-6 position-absolute"></span>
        <span class="ring-shape ring-shape-white ring-shape-7 position-absolute"></span>
        <span class="ring-shape ring-shape-white ring-shape-8 position-absolute"></span>
        <div class="container">
            <div class="hero-content text-center">
                <h1 class="sec-title font-size-50 mb-3 text-white">Buy & Sell Crypto in minutes</h1>
                <p class="sec-desc text-white">Bitcon is the easiest place to buy, sell, and manage your cryptocurrency portfolio</p>
                <form action="" class="padding-top-35px col-lg-6 mx-auto" method="get">
                    <div class="input-group">
                        <input type="text" name="filter" class="form-control form--control" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Search <i class="fal fa-angle-right ml-1"></i></button>
                        </div>
                    </div>
                </form>
            </div><!-- end hero-content -->
        </div><!-- end container -->
        <svg class="hero-svg hero--svg" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 100" preserveaspectratio="none">
            <path d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z"></path>
        </svg>
    </section><!-- end hero-area -->

    <section class="marketprice-area padding-bottom-120px">
        <div class="container">
            <div class="card generic-table table-responsive generic-table-negative">


                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Hight Price</th>
                            <th scope="col">Low Price</th>
                            <th scope="col">Change(24Hr)</th>
                            <th scope="col">Volume</th>
                            <th scope="col">Markets</th>
                            <th scope="col">Trade</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <th scope="row">@item.count</th>
                                <td class="d-flex align-items-center crypto-name-wrap">
                                    <a href="#" ><img src="~/assets/images/bitcoin-symble.png" class="flex-shrink-0 mr-2" alt="coin-img"></a>
                                    <p class="line-height-18">
                                        @item.symbol <span class="d-block font-size-11 text-gray"></span>
                                    </p>
                                </td>
                                <td><span class="numeral green">$ @item.highPrice  </span></td>
                                <td><span class="numeral red">$@item.lowPrice  </span></td>
                                <td><span class="numeral ">%@item.priceChange</span> </td>
                                <td><span class="numeral">$@item.volume  </span></td>
                                <td>
                                    <svg class="coin-market-chart" viewbox="0 0 100 32" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="none">
                                        <path d="M 0,16.470324820358545 C 5.945342881289183e-17,17.441272996670044 -0.2000000000000002,20.257953329228645 0,21.32506570191604 C 0.20000000000000007,22.392178074603432 0.6000000000000001,22.64344581352109 1,21.80588668379552 C 1.4,20.96832755406995 1.8,17.794909073665305 2,17.13727005328819 C 2.2,16.479631032911076 1.7999999999999996,17.255148745619923 2,18.517691581909947 C 2.1999999999999997,19.78023441819997 2.5999999999999996,23.096348157743062 3,23.44998423473831 C 3.4,23.803620311733557 3.8000000000000003,21.02726690023585 4,20.285871966886177 C 4.2,19.544477033536502 3.8,20.226932620720273 4,19.74300956798994 C 4.2,19.259086515259607 4.6000000000000005,19.03883948485032 5,17.866256703234516 C 5.3999999999999995,16.69367392161871 5.8,15.099209504289247 6,13.880095659910907 C 6.2,12.660981815532567 5.8,12.508980343841653 6,11.770687481342815 C 6.2,11.032394618843977 6.6,10.22585619762674 7,10.188631347416715 C 7.4,10.15140649720669 7.8,11.503909388170959 8,11.584563230292689 C 8.2,11.66521707241442 7.8,10.595002628876193 8,10.591900558025364 C 8.2,10.588798487174534 8.6,12.70441080744433 9,11.56905287603854 C 9.4,10.433694944632752 9.6,6.1776537372864695 10,4.9151109009964244 C 10.4,3.6525680647063803 10.8,4.673149374631241 11,5.256338694588319 C 11.2,5.8395280145453965 10.799999999999999,7.362644802305646 11,7.831057500781811 C 11.2,8.299470199257977 11.6,7.533258699101608 12,7.598402186969143 C 12.4,7.66354567483668 12.8,8.736862189225727 13,8.156774940119492 C 13.2,7.576687691013257 12.8,5.529320929461869 13,4.69796594143797 C 13.2,3.866610953414072 13.6,3.5843225059880477 14,4 C 14.4,4.415677494011953 14.799999999999999,5.5882602756277535 15,6.776353411497733 C 15.2,7.9644465473677135 14.799999999999999,9.540298539592127 15,9.9404656793499 C 15.2,10.340632819107674 15.6,9.236295596210239 16,8.777189110286596 C 16.4,8.318082624362953 16.8,7.883792705246017 17,7.644933249731683 C 17.2,7.40607379421735 16.8,7.533258699101567 17,7.58289183271493 C 17.2,7.632524966328293 17.6,8.327388836915453 18,7.893098917798498 C 18.4,7.458808998681542 18.6,5.718547251362865 19,5.411442237130153 C 19.4,5.104337222897441 19.8,5.737159676467848 20,6.357573846634938 C 20.2,6.977988016802027 19.8,7.886894776096833 20,8.5135130879656 C 20.2,9.140131399834369 20.6,9.431726059812906 21,9.490665405978778 C 21.4,9.54960475214465 21.8,8.498002733711415 22,8.808209818794957 C 22.2,9.118416903878499 21.8,10.799739305031318 22,11.041700831396486 C 22.2,11.283662357761655 22.6,9.986996742112447 23,10.018017450620802 C 23.4,10.049038159129156 23.8,10.616717124832025 24,11.196804373938253 C 24.2,11.776891623044481 23.8,13.064251026141209 24,12.918453696151943 C 24.2,12.772656366162677 24.6,10.895903501407222 25,10.467817723991924 C 25.4,10.039731946576627 25.8,10.241366551880928 26,10.778024809075458 C 26.2,11.314683066269987 25.8,12.741635657654287 26,13.151109009964575 C 26.2,13.560582362274863 26.6,12.79747293296937 27,12.825391570626895 C 27.4,12.85331020828442 27.8,12.555511406604202 28,13.290702198252196 C 28.2,14.025892989900191 27.8,16.349344057175934 28,16.50134552886687 C 28.2,16.653347000557808 28.6,14.730063073039853 29,14.050709556706886 C 29.4,13.37135604037392 29.6,13.541969937169833 30,13.104577947202035 C 30.4,12.667185957234237 30.8,12.012649007707992 31,11.863749606867897 C 31.2,11.714850206027801 30.8,11.910280669630424 31,12.36008094300156 C 31.2,12.809881216372695 31.6,13.495438874407313 32,14.112750973723573 C 32.4,14.730063073039833 32.8,15.939870704865697 33,15.446641439582859 C 33.2,14.95341217430002 32.8,12.648573532129236 33,11.646604647309376 C 33.2,10.644635762489516 33.6,10.70667717950625 34,10.436797015483563 C 34.4,10.166916851460876 34.8,10.086263009339133 35,10.297203827195942 C 35.2,10.50814464505275 34.8,10.824555871837978 35,11.491501104767607 C 35.2,12.158446337697237 35.6,13.03012824678201 36,13.63192999184409 C 36.4,14.23373173690617 36.8,14.149975823933605 37,14.500509830078009 C 37.2,14.851043836222413 36.8,14.838635552819062 37,15.384600022566106 C 37.2,15.93056449231315 37.6,16.473426891209375 38,17.230332178813235 C 38.4,17.987237466417096 38.6,19.100880901867033 39,19.16912646058541 C 39.4,19.237372019303788 39.8,17.590172397510145 40,17.57155997240513 C 40.2,17.552947547300114 39.8,18.551814361269138 40,19.07606433506033 C 40.2,19.600314308851523 40.6,20.586772839417204 41,20.192809841361097 C 41.4,19.79884684330499 41.8,17.92093077193451 42,17.106249344779794 C 42.2,16.291567917625077 41.8,15.826658620236103 42,16.119402705587504 C 42.2,16.412146790938905 42.6,18.113978178252562 43,18.5699697715368 C 43.4,19.02596136482104 43.8,17.7231282411518 44,18.399360672008697 C 44.2,19.075593102865593 43.8,20.77548013089118 44,21.951131925821286 C 44.2,23.126783720751394 44.6,23.96121731662528 45,24.277619646659243 C 45.4,24.594021976693206 45.8,22.788667505322945 46,23.533143575991097 C 46.2,24.27761964665925 45.8,27.26793186384299 46,28 C 46.2,28.73206813615701 46.6,28.366034068078488 47,27.193484256776152 C 47.4,26.020934445473817 47.8,22.98099049024556 48,22.13725094348833 C 48.2,21.2935113967311 47.8,22.481571126172348 48,22.974786522989998 C 48.2,23.468001919807648 48.6,24.857690585054858 49,24.603327927576572 C 49.4,24.348965270098287 49.6,22.44124533901115 50,21.70297323559857 C 50.4,20.96470113218599 50.8,21.203553871525354 51,20.911967410513668 C 51.2,20.620380949501982 50.8,20.995720968463843 51,20.245040930540135 C 51.2,19.494360892616427 51.6,17.692108404873963 52,17.158567220895122 C 52.4,16.62502603691628 52.8,16.70877959486644 53,17.57733501064594 C 53.2,18.44589042642544 52.8,20.47458771899613 53,21.501344299792617 C 53.2,22.528100880589104 53.6,22.686302045606098 54,22.711117914628375 C 54.4,22.73593378365065 54.8,22.366797731944356 55,21.625423644903993 C 55.2,20.88404955786363 54.8,20.69482855656881 55,19.00424747942656 C 55.2,17.31366640228431 55.6,14.27682443068383 56,13.172518259192742 C 56.4,12.068212087701655 56.8,13.591286048943566 57,13.482716621971127 C 57.2,13.374147194998688 56.8,12.437348139407941 57,12.62967112433055 C 57.2,12.821994109253158 57.6,13.938708215255385 58,14.444331546584168 C 58.4,14.949954877912951 58.6,15.07713620665208 59,15.157787780974461 C 59.4,15.238439355296842 59.8,14.466045431978648 60,14.847589418196076 C 60.2,15.229133404413504 59.8,16.60641413514958 60,17.065507712061603 C 60.2,17.524601288973624 60.6,17.36950210758441 61,17.14305730275618 C 61.4,16.91661249792795 61.8,15.688226981325524 62,15.933283687920458 C 62.2,16.17834039451539 61.8,17.754148077429623 62,18.368340835730844 C 62.2,18.982533594032066 62.6,18.84914829803736 63,19.00424747942656 C 63.4,19.15934666081576 63.8,19.351669645738365 64,19.14383674267684 C 64.2,18.936003839615314 63.8,18.039530571185754 64,17.96508296411894 C 64.2,17.890635357052123 64.6,18.371442819358627 65,18.771598707342754 C 65.4,19.17175459532688 65.8,20.08994174915092 66,19.965862404039566 C 66.2,19.84178305892821 65.8,18.073652391091386 66,18.151201981785984 C 66.2,18.228751572480583 66.6,20.589361113224147 67,20.353610357512565 C 67.4,20.117859601800983 67.8,17.75414807742963 68,16.972448203228076 C 68.2,16.190748329026523 67.8,16.668453807705244 68,16.445110986504798 C 68.2,16.22176816530435 68.6,16.051159065776236 69,15.855734097225845 C 69.4,15.660309128675454 69.6,15.36251870040819 70,15.467986143752846 C 70.4,15.573453587097502 70.8,16.618822069660702 71,16.383071313949127 C 71.2,16.147320558237553 70.8,14.435025595700822 71,14.289232365194975 C 71.2,14.143439134689128 71.6,15.409048454824964 72,15.65410516141989 C 72.4,15.899161868014817 72.8,15.917773769781522 73,15.514515898169607 C 73.2,15.111258026557692 72.8,14.754529909362539 73,13.637815803360319 C 73.2,12.521101697358098 73.6,10.805704751193574 74,9.930945368158504 C 74.4,9.056185985123435 74.8,9.648664858030175 75,9.264018888184973 C 75.2,8.87937291833977 74.8,8.038735355210328 75,8.00771551893249 C 75.2,7.9766956826546505 75.6,8.758395556856199 76,9.108919706795781 C 76.4,9.459443856735364 76.8,9.586625185474507 77,9.760336268630404 C 77.2,9.934047351786301 76.8,9.868905695602828 77,9.977475122575267 C 77.2,10.086044549547706 77.6,10.0891465331755 78,10.303183403492595 C 78.4,10.51722027380969 78.6,11.193452704666585 79,11.047659474160739 C 79.4,10.901866243654892 79.8,9.614543038124548 80,9.574217250963358 C 80.2,9.533891463802167 79.8,11.103495179460852 80,10.846030538354785 C 80.2,10.588565897248719 80.6,8.829741180295214 81,8.286894045433023 C 81.4,7.744046910570832 81.8,7.986001633537983 82,8.13179486404383 C 82.2,8.277588094549676 81.8,8.441993226822229 82,9.015860197962258 C 82.2,9.589727169102288 82.6,10.579259946365358 83,11.001129719743977 C 83.4,11.422999493122596 83.8,11.115903113972 84,11.125209064855351 C 84.2,11.134515015738703 83.8,11.758013724923263 84,11.047659474160739 C 84.2,10.337305223398214 84.6,8.389259505149905 85,7.57343781104273 C 85.4,6.757616116935556 85.8,6.931327200091459 86,6.968551003624868 C 86.2,7.005774807158277 85.8,7.176383906686399 86,7.7595568287097745 C 86.2,8.34272975073315 86.6,9.617645021752331 87,9.884415613741744 C 87.4,10.151186205731157 87.8,9.493565676640964 88,9.093409788656839 C 88.2,8.693253900672714 87.8,8.017021469815822 88,7.883636173821115 C 88.2,7.750250877826408 88.6,8.457503144961144 89,8.426483308683306 C 89.4,8.395463472405467 89.6,7.930165928237876 90,7.728536992431922 C 90.4,7.526908056625968 90.8,7.815392534009881 91,7.418338629653537 C 91.2,7.021284725297193 90.8,5.566454403866517 91,5.743267470650203 C 91.2,5.920080537433888 91.6,7.613763598203934 92,8.302403963571965 C 92.4,8.991044328939997 92.8,8.553664637422441 93,9.18646929749036 C 93.2,9.819273957558279 92.8,10.852234505610335 93,11.466427263911555 C 93.2,12.080620022212775 93.6,12.201597383696349 94,12.257433088996462 C 94.4,12.313268794296576 94.8,12.11474184211841 95,11.745605790412123 C 95.2,11.376469738705836 94.8,10.721951193243418 95,10.411752830465026 C 95.2,10.101554467686634 95.6,10.479996470276287 96,10.194613976520163 C 96.4,9.909231482764039 96.8,9.487361709385405 97,8.984840361684405 C 97.2,8.482319013983405 96.8,7.7905766649876 97,7.682007238015162 C 97.2,7.573437811042724 97.6,8.293098012688587 98,8.441993226822216 C 98.4,8.590888440955846 98.8,8.429585292311089 99,8.426483308683306"></path>
                                    </svg>
                                </td>
                                <td><a href="#" class="btn btn-sm btn-success">Buy</a></td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div><!-- end coin-price-table -->
            <div class="text-center">
                <a href="#" class="btn btn-light">View More Markets <i class="fal fa-angle-down ml-1"></i></a>
            </div>
        </div><!-- end container -->
    </section><!-- end marketprice-area -->

  
    <section class="cta-area section-padding text-center bg-gray">
        <div class="container">
            <h2 class="sec-title mb-3">Get Started Today With Bitcoin</h2>
            <p class="sec-desc mb-4">Open account for free and start trading Bitcoin!</p>
            <a href="sign-up.html" class="btn btn-primary">Register Now <i class="fal fa-angle-right ml-1"></i></a>
        </div><!-- end container -->
    </section><!-- end cta-area -->
  
    <partial name="_footer" />

    <div id="scroll-to-top">
        <i class="far fa-angle-up" title="Go top"></i>
    </div>
    <!-- end scroll-to-top -->

    <script>

        setTimeout(() => {
            document.location.reload();
        }, 5000);
        
    </script>
    <script>
       
        //$(function () {
            
        //    // Fetch data from server every 5 seconds
        //    setInterval(function () {
        //        $.getJSON('/Home/_tableData', function (data) {
                   
        //            console.log("received ")
        //        });
        //    }, 5000);
        //});</script>


</body>
</html>